GitHubMirror.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GitHubMirror.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GitHubMirror.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
GitHubMirror.xcodeproj/project.xcworkspace/xcuserdata/mmt.xcuserdatad/IDEFindNavigatorScopes.plist
GitHubMirror.xcodeproj/project.xcworkspace/xcuserdata/mmt.xcuserdatad/WorkspaceSettings.xcsettings
GitHubMirror.xcodeproj/xcuserdata/mmt.xcuserdatad/xcschemes/xcschememanagement.plist
